@using UWT.Web.Models
@model ProductViewModel
@{
    ViewBag.Title = "title";
    ViewBag.MainTitle = "Novi proizvod";
}
@section buttons
{
    <a href="@Url.Action("Products", "Merchant", new {shop = ViewBag.ShopId})" class="btn btn-default">Natrag</a>
}
@using (Html.BeginForm("CreateProduct", "Merchant", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("shop", (int)ViewBag.ShopId)
    <div class="col-md-6">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Count, new {@class = "col-md-5 control-label"})
            <div class="col-md-6">
                <div class="input-group">
                    @Html.EditorFor(m => m.Count, new { htmlAttributes = new { @class = "form-control text-right" } })
                    <span class="input-group-addon">kom</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UnitPrice, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                <div class="input-group">
                    @Html.EditorFor(m => m.UnitPrice, new {htmlAttributes = new {@class = "form-control text-right"}})
                    <span class="input-group-addon">kn</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Tags, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(m => m.Tags, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Kategorije:", new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                <input id="categoryDisplay" name="categoryDisplay" class="form-control" value="" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-6">
                @Html.ListBoxFor(m => Model.Categories, (MultiSelectList)ViewBag.Categories, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9 btn-group">
                <input type="submit" class="btn btn-primary" value="Dodaj" />
                <a href="@Url.Action("Products", "Merchant", new {shop = ViewBag.ShopId})" class="btn btn-default">Odustani</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Partial("ImageEditor", new ImageEditorModel { DefaultImage = "", FieldName = "image", Label = "Slika:", Required = true }, ViewData)
        </div>
    </div>
}
@section scripts {
    <script>
        $(function() {
            $("#Categories").click(function () {
                var selection = $('#Categories :selected').map(function (i, c) { return $(c).html(); });
                $("#categoryDisplay").val(Array.prototype.join.call(selection, ", "));
            });
        });
    </script>
}