@using UWT.Web.Models
@model ShopViewModel
@{
    ViewBag.Title = "title";
    ViewBag.MainTitle = "Uredi trgovinu";
    ViewBag.Subtitle = Model.Name;
    var pageLayouts = (IEnumerable<SelectListItem>)ViewBag.PageLayouts;
    var pageStyles = (IEnumerable<SelectListItem>)ViewBag.PageStyles;
}
@section buttons
{
    <a href="@Url.Action("MyShops")" class="btn btn-default">Natrag</a>
    <a href="@Url.Action("Invoices", "Merchant", new {shop = Model.Id})" class="btn btn-default">Pregled računa</a>
    <a href="@Url.Action("Discounts", "Merchant", new {Model.Id})" class="btn btn-default">Uredi popuste</a>
    <a href="@Url.Action("Categories", "Merchant", new {shop = Model.Id})" class="btn btn-default">Kategorije proizvoda</a>
    <a href="@Url.Action("Products", "Merchant", new { shop = Model.Id })" class="btn btn-default">Proizvodi</a>
}
@using (Html.BeginForm("EditShop", "Merchant", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.Id)

    <div class="col-md-6">
        @Html.ValidationSummary("", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new {@class = "col-md-3 control-label"})
            <div class="col-md-9">
                @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-3 control-label"})
            <div class="col-md-9">
                @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new {@class = "col-md-3 control-label"})
            <div class="col-md-9">
                @Html.EditorFor(m => m.Address, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new {@class = "col-md-3 control-label"})
            <div class="col-md-9">
                @Html.EditorFor(m => m.Phone, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PageLayout, new {@class = "col-md-3 control-label"})
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.PageLayout, pageLayouts, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PageStyle, new {@class = "col-md-3 control-label"})
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.PageStyle, pageStyles, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9 btn-group">
                <input type="submit" class="btn btn-primary" value="Spremi promjene"/>
                <a href="@Url.Action("MyShops")" class="btn btn-default">Odustani</a>
            </div>
        </div>
    </div>
    @*<div class="col-md-6">
        <h3>Računi izdani ovaj mjesec:</h3>
        @Html.Partial("InvoiceList", (IEnumerable<InvoiceViewModel>) ViewBag.Invoices, ViewData)
    </div>*@
    <style>
        #wrap {
            width: 630px;
            height: 300px;
            padding: 0;
            overflow: hidden;
        }
        #frame {
            -ms-zoom: 0.25;
            -ms-transform-origin: 0 0;
            -moz-transform: scale(0.25);
            -moz-transform-origin: 0 50px;
            -o-transform: scale(0.25);
            -o-transform-origin: 0 50px;
            -webkit-transform: scale(0.25);
            -webkit-transform-origin: 0 0;
        }
        #frame {
            width: 1400px;
            height: 500px;
            overflow: hidden;
        }
    </style>
    <div class="col-md-6">
        <div id="wrap" style="height: 100%">
            <iframe id="frame" src="@Url.Action("DesignPreview", "Merchant", new {Model.Id, styleId = Model.PageStyle, layoutId = Model.PageLayout})" style="height: 1200px"></iframe>
        </div>
    </div>
}

@section scripts {
    <script>
        $(function() {
            $("#PageLayout,#PageStyle").click(function () {
                var layout = $("#PageLayout").val();
                var style = $("#PageStyle").val();
                console.log("Style changed to (" + layout + ", " + style + ")");
                var url = "@Url.Action("DesignPreview", "Merchant", new {Model.Id})?styleId=" + style + "&layoutId=" + layout;
                if ($("#frame").attr("src") !== url) $("#frame").attr("src", url);
            });
        });
    </script>
}