@model IEnumerable<UWT.Web.Models.ShopViewModel>
@{
    ViewBag.Title = "MyShops";
    ViewBag.MainTitle = "Moje trgovine";
    ViewBag.Subtitle = "Pregled mojih trgovina";
}
@section buttons
{
    @Html.ActionLink("Stvorite novu trgovinu", "CreateShop", new {}, new {@class="btn btn-primary"})
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.ActionLink(item.Name, "EditShop", new { item.Id }, new { @class = "btn btn-default col-md-12" })</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
            </tr>
        }
    </tbody>
</table>
