<!DOCTYPE html>
<html @(ViewBag.AngularController != null ? Html.Raw("ng-app = \"uwtApp\"") : null)>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Univerzalna trgovina</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Controllers/UwtControllers.js"></script>
    @RenderSection("controllers", false)
</head>
<body @(ViewBag.AngularController != null ? Html.Raw("ng-controller=\""+ ViewBag.AngularController +"\"") : null)>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Moja prodaja", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole(UWT.Models.Roles.Admin))
                    {
                        <li>@Html.ActionLink("Korisnici", "Index", "Home")</li>
                        <li>@Html.ActionLink("Trgovine", "Index", "Home")</li>
                        <li>@Html.ActionLink("Stilovi", "Index", "Home")</li>
                    }
                    @if (User.IsInRole(UWT.Models.Roles.Merchant))
                    {
                        <li>@Html.ActionLink("Moje trgovine", "Index", "Home")</li>
                        <li>@Html.ActionLink("Moji stilovi", "Index", "Home")</li>
                    }
                    <li>@Html.ActionLink("Postavke", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Univerzalna trgovina</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

