<!DOCTYPE html>
<html @(ViewBag.AngularController != null ? Html.Raw("ng-app = \"uwtApp\"") : null)>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Univerzalna trgovina</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/animations.min.css" rel="stylesheet" />
    <link href="~/Content/uwt.css" rel="stylesheet" />
    <link href="~/Content/GalleryItem.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Controllers/UwtControllers.js"></script>
    @RenderSection("controllers", false)
</head>
<body @(ViewBag.AngularController != null ? Html.Raw("ng-controller=\""+ ViewBag.AngularController +"\"") : null)>
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            @Html.Partial("_Navbar")
        </div>
        <div class="panel panel-default">
            @if (ViewBag.MainTitle != null) {
                @:
                <div class="panel-heading col-md-12" style="height: 128px">
                    <div class="row">
                        <div class="col-md-12" style="padding: 0px">
                            <h1 class="col-md-6" style="text-align: left; text-shadow: 0px 0px 2px gray">
                                <span>@ViewBag.MainTitle</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="title col-md-4" style="padding-top: 12px">@ViewBag.Subtitle</h4>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                @RenderSection("buttons", false)
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            }
            <div class="panel-body">
                <div class="pullDown">
                    @RenderBody()
                </div>
            </div>
            <div class="panel-footer">
                <p>&copy; @DateTime.Now.Year - Univerzalna trgovina</p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

