@using Microsoft.AspNet.Identity
@using Newtonsoft.Json
@using UWT.Web.Extensions
@using UWT.Web.Models
@model ShopViewModel
@{
    Layout = "~/Views/Shared/PageLayouts/" + Model.GetPageLayout().Layout;
    var style = Model.GetPageStyle();
    var categories = Model.GetCategories();
    var products = (IEnumerable<ProductViewModel>) ViewBag.Products;
    ViewBag.ShopId = Model.Id;
    ViewBag.UserId = User.Identity.GetUserId();
}
<style>
    .navimage {
        background-color: @style.NavColor;
        background-image: url(@style.BackgroundImage.Replace("~", ""));
        background-repeat: no-repeat;
        background-size: cover;
        height: 180px;
        margin-top: -50px;
    }
    .footerimage {
        background-color: @style.NavColor;
        background-image: url(@style.FooterImage.Replace("~", ""));
        background-repeat: no-repeat;
        background-size: cover;
        height: 180px;
    }
    .searchbar, .logo, nav {
        background-color: @style.NavColor;
    }
    .categoryList-image {
        max-height: 100%;
        max-width: 100%;
    }
    .img-logo {
        height: 100%;
        padding: 5px;
    }
    .logo {
        height: 57px;
    }
    body {
        background-color: @style.BackgroundColor;
    }
    h2, h3, body {
        color: @style.ForegroundColor;
    }
    .vertical-center {
        position: relative;
        transform: translateY(50%);
    }
    a {
        text-decoration: none;
    }
    .products {
        min-height: 500px;
    }
    .product-container {
        background-color: @style.SheetColor;
    }
    .productItem div {
        height: 120px;
    }
    .sheet {
        background-color: @style.SheetColor;
    }
</style>

@section pageBegin {
    <!DOCTYPE html>
    <html ng-app="uwtApp">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Univerzalna trgovina</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/animations.min.css" rel="stylesheet"/>
        <link href="~/Content/uwtShops.css" rel="stylesheet"/>
        <link href="~/Content/GalleryItem.css" rel="stylesheet"/>
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <link href="~/Content/Vitality.css" rel="stylesheet"/>
        <link href="~/Content/startbootstrap.css" rel="stylesheet"/>
        <script src="~/Scripts/Controllers/UwtControllers.js"></script>
        <script>
            var shopController = new ShopController(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Products)), "@Model.Id", @ViewBag.BasketItemsCount, "@Url.Action("AddToBasket", "Basket")", "@Url.Action("RemoveFromBasket", "Basket")", "@Url.Action("SendMessage", "Message")");
        </script>
    </head>
    <body ng-controller="ShopController">
    }

    @section navImage {
        <div class="navimage"></div>
    }
    @section logo {
        <a href="@Url.Action("Index", "Home", new {Model.Id})">
            <div class="pull-left logo">
                <img class="img-logo" src="@style.Logo.Replace("~", "")" alt="" />
            </div>
            <h3 class="pull-left" style="margin-left: 10px">@Model.Name</h3>
        </a>
        <a class="pull-right btn btn-default vertical-center" href="@Url.Action("Index", "Home", new {Id = 0})">
            Sve trgovine
        </a>
    }
    @section search {
        <div class="searchbar">
            <input type="search" class="form-control col-md-12 vertical-center" name="searchtext" placeholder="Pretraži proizvode" />
        </div>
    }
    @section categories {
        <div>
            @foreach (var c in categories) {
                @Html.Partial("CategoryListItem", c)
            }
        </div>
    }
    @section products {
        <div class="product-container">
            <div class="galleryItem galleryItem-sm productItem" ng-repeat="product in products">
                <a href="#">
                    <div style="width: 100%; height: 120px">
                        <img src="{{product.Image}}" class="img-thumbnail" alt="{{product.Title}}">
                    </div>
                </a>
                <h3 ng-bind="product.Title"></h3>
                <p ng-bind="product.Description"></p>
                <p>
                    <del style="color: green" ng-bind="product.UnitPrice.toFixed(2)" ng-show="product.DiscountedPrice - product.UnitPrice < 0"></del>
                    <span ng-bind="product.DiscountedPrice.toFixed(2)"></span>
                    <span>kn</span>
                </p>
                <p>Raspoloživo: <span ng-bind="product.Count"></span></p>
                @if (User.Identity.IsAuthenticated) {
                    <button class="btn btn-sm col-sm-12" ng-click="product.addToBasket()" ng-hide="product.InBasket || product.Count == 0">Dodaj u košaricu</button>
                    <button class="btn btn-sm col-sm-12" ng-click="product.removeFromBasket()" ng-show="product.InBasket && product.Count != 0">Ukloni iz košarice</button>
                    <button class="btn btn-sm col-sm-12" ng-click="product.sendMessage()" ng-show="product.Count == 0 && !product.MessageSent">Pošalji upit</button>
                }
            </div>
        </div>
    }
    @section footer {
        <div class="footerimage"></div>
    }
    @section contact {
        <div class="form-horizontal">
            <div class="row">
                <div>
                    <div class="col-md-6">
                        <h3 style="padding-bottom:8px">Kontakt</h3>
                    </div>
                    <div class="col-md-6 vertical-center">
                        <div class="pull-right">
                            <a href="@Url.Action("Index", "Invoice", new {Model.Id})" class="btn btn-default">Pregled ranijih računa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group">
                    <label class="col-md-4">Adresa:</label>
                    <label class="col-md-8">@Model.Address</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Telefonski broj:</label>
                    <label class="col-md-8">@Model.Phone</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Email:</label>
                    <label class="col-md-8">@Model.Email</label>
                </div>
            </div>
        </div>
    }
    @section basket {
        <div>
            <a href="@Url.Action("Index","Basket", new{ shop = ViewBag.ShopId })" class="btn btn-default vertical-center col-md-12">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span ng-show="basketItemsEmpty">Vaša košarica je prazna</span>
                <span ng-hide="basketItemsEmpty">Proizvoda u košarici: <span ng-bind="basketItemsCount"></span></span>
            </a>
        </div>
    }
    @section pageEnd {
    </body>
    </html>
    }
