@model UWT.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Postavke računa";
    ViewBag.MainTitle = ViewBag.Title;
    ViewBag.Subtitle = "Vaš račun:" + Model.UserName;
}
@section buttons
{
    <a href="@Url.Action("ChangePassword")" class="btn btn-default">Promijeni lozinku</a>
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="col-md-7">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Surname, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" class="btn btn-primary" value="Spremi promjene" style="width: 100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="row">
                        @Html.Label("Promjena profilne slike", new { @class = "col-md-5" })
                        <div class="col-md-6">
                            <input type="file" name="image" onchange="readURL(this);" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img id="img" src="~/Content/Images/@Model.ProfileImage" alt="Profilna slika" class="img-thumbnail" style="max-height: 180px; margin-top: 10px" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        // Load chosen image
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result).height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
